* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: 'Poppins', sans-serif;
    

  color: #333;
  background: #ffffff95;
}

.container {
  width: 90%;
  max-width: 1100px;
  
  
}

/* HEADER */
.header {
  padding: 20px 0;
  position: fixed;
  width: 100%;
  background: #a9025bf8;
  box-shadow: 0 2px 10px rgba(0,0,0,.05);
  z-index: 100;
  height: 13%;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #e91e63;
  border: none;
}

.logo img {
  width: 124px;
  max-width: 80%;
  height: auto;
  display: block;
}

/* @media (max-width: 768px) {
  .logo img {
    width: 110px;
  }
}
 */


/* BOTÕES */
.btn-primary {
  background: #e91e63;
  color: white;
  padding: 12px 25px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

/* #btn-btn-primary5 {
  background: #e91e63;
  color: white;
  padding: 12px 25px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  width: 20%;
}
 */
.btn-outline {
  border: 0px solid #e6098dac;
  color: white;
  padding: 8px 20px;
  background-color: #e91e63;
  text-decoration: none;
  box-shadow: 0 20px 10px rgba(20, 1, 11, 0.08);
  border-radius: 50px;
  
  text-align: center;


}

/* HERO */
.hero {
  height: 100vh;
  overflow: hidden;
  /* background: url('../img/hero.jpg') center/cover no-repeat */
  position: relative;
  top: 89px;
}

.hero .carousel {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.hero .carousel img {
  height: 100vh;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0, 0.4);
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

}

.hero-content {
  position: relative;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
}

.hero h2 {
  font-size: 3rem;
}

/* VALORES */
.valores {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 60px 0;
  text-align: center;
}

/* PRODUTOS */
.produtos h2 {
  text-align: center;
  margin-bottom: 40px;
}

#produtos {
  margin-top: 100px;
  
  

}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
}

.card {
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,.08);
  text-align: center;
  justify-items: center;
}

.card {
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,.08);
  text-align: center;
    
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 420px; /* mantém todos do mesmo tamanho */
  
}

/* .grid {
  
} */

.card:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  transform: translateY(-5px);
}

.card-img {
  width: 20%;
  height: 180px; /* altura fixa */
  margin: 15px 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img img {
  max-width: 50%;
  max-height: 100%;
  object-fit: contain;
}


.destaque {
  transform: scale(1.05);
}

.preco {
  font-size: 1.4rem;
  margin: 15px 0;
}

/* CTA */
.cta {
  background: #e91e63;
  color: white;
  padding: 60px 20px;
  display: grid;
  top: 40px;
  
}
.btn-primary1 {
  background: #e91e63;
  color: white;
  padding: 12px 25px;
  border-radius: 12px;
  border: 2px dashed white;
  cursor: pointer;
  text-decoration: none;
  

  
}



/* FOOTER */
.footer {
  text-align: center;
  padding: 20px;
  background: #111;
  color: #aaa;
}


/* pq a dilcia shop */
.beneficios {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
  text-align: center;
}

.beneficios h2 {
  font-size: 2.2rem;
  margin-bottom: 50px;
  font-weight: bold;
}

.beneficios-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.beneficio-card {
  padding: 30px 20px;
  border: 1px solid #eee;
  border-radius: 16px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  background: #fff;
}

.beneficio-card:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  transform: translateY(-5px);
}

.icon-circle img{
  width: 66px;
  height: 66px;
  margin: 0 auto 20px;
  
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

.beneficio-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.beneficio-card p {
  font-size: 0.95rem;
  color: #666;
}

